.card {
    height: 528px;
}
.card-top {
    translate: 0 25%;
}
.card-bottom {
    height: calc(528px - 248px);
    translate: 0 528px;
}

.card-image-container {
    height: 201px;
}

.card:hover {
    -webkit-animation: glow 0.5s ease-in-out infinite alternate;
    -moz-animation: glow 0.5s ease-in-out infinite alternate;
    animation: glow 0.5s ease-in-out infinite alternate;
}
.card:hover .card-image-container {
    height: 128px;
}
.card:hover .card-top {
    translate: 0 0;
}
.card:hover .card-bottom {
    translate: 0 248px;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0 1px #d1d7de, 0 0 1px 1px #d1d7de, 0 0 2px 1px #d1d7de, 0 0 3px 1px #d1d7de;
    }
    to {
        box-shadow: 0 0 2px 1px #d1d7de, 0 0 3px 2px #d1d7de, 0 0 4px 3px #d1d7de, 0 0 5px 4px #d1d7de;
    }
}
